@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", "sans-serif";
  margin: 0;
}

.root {
  display: flex;
  flex-direction: column;
}

.navbar {
  padding: 1rem 3rem;
  background-color: #0d47a1 !important;
}

.form-image {
  min-width: 800px;
  min-height: 800px;
}

.register-form {
  flex: 1;
  background-color: #eeeeee;
  color: #000000;
  padding: 5rem;
}

.form-title {
  text-align: center;
  margin-bottom: 3rem;
}

.form-label {
  padding-left: 1.5rem;
  margin-bottom: 0px;
  font-size: 1.5rem;
}

.form-control {
  width: 90%;
  margin: 20px;
}

.btn-primary {
  margin-left: 1.5rem;
}

